<!--========================================================= 
    Item Name: Ekka - Ecommerce HTML Template.
    Author: ashishmaraviya
    Version: 3.3
    Copyright 2022-2023
	Author URI: https://themeforest.net/user/ashishmaraviya
 ============================================================-->
<%- include('../layouts/user/header.ejs') %>
    <%- include('../layouts/user/navbar.ejs') %>

        <!-- Main Slider Start -->

        <div class="sticky-header-next-sec ec-main-slider section section-space-pb">
            <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
                <!-- Main slider -->
                <div class="swiper-wrapper">
                    <% if (banner.length> 0) {
                        for (let i = 0; i < banner.length; i++) { %>

                            <div class="ec-slide-item swiper-slide d-flex ec-slide-<%= i %>"
                                style="background-image: url('/adminAssets/adminImages/<%= banner[i].banner_img %>'); background-position: center; background-size: cover;">
                                <div class="container align-self-center">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                            <div class="ec-slide-content slider-animation">
                                                <h1 class="ec-slide-title">
                                                    <%= banner[i].main_text %>
                                                </h1>
                                                <h2 class="ec-slide-stitle">Sale Offer</h2>
                                                <p>
                                                    <%= banner[i].first_text %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% } } else { %>Banner Not Found<% } %>
                </div>                
            </div>
        </div>


        




        <%- include('../layouts/user/footer.ejs') %>