<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>


    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User Profile</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">My Order</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account pb-5">
        <div class="d-flex justify-content-center ">
          
        </div>

        <div class="container p-1">
            <div class="ec-shop-rightside col-lg-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Transaction Id</th>
                            <th scope="col">Total Price</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                  
                        <% if (orders) {
                            orders.products.forEach((order) => { %>
                            <tr>
                                <td>
                                    <img width="50px" height="50px" src="/adminAssets/adminImages/<%= order.productid.image[0] %>" alt="">
                                    <%= order.productid.productName %>
                                </td>
                                <td><%= order.count %></td>
                                <td><%= order.productid._id %></td>
                                <td><%= order.productPrice %></td>
                              
                            
                        </tr>

                        
                        <!-- End return Modal -->

                        
                        <%} ) %>
                       <% } else { %>
                            <h1>no data</h1>
                                <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- End User profile section -->


<%- include('../layouts/user/footer.ejs') %>
